/* 
   ~*~*~*~*~*~* Table of Contents *~*~*~*~*~*~ 
   Cmd+F these titles to jump to each section of the style sheet.
   1. General styles
   2. Main
*/

/* ~*~*~*~*~*~* General styles *~*~*~*~*~*~ */

:root {
	/* Colours */
	--beige:                #FFFBF0;
	--light-grey: 			#D6D5D5;
	--dark-grey: 			#5E5E5E;
	--primary-site-color:   #849468;		/* green */
	--secondary-site-color: #54A4CC;		/* blue */

	/* Font sizes */
	--small-font:  16px;
	--medium-font: 20px;
	--large-font:  32px;
	--title-font:  85px;

	--primary-border-radius: 20px;
	--hover-transition-time: 0.2s;
}

/* Make text a lil smaller for iPads & smaller computer screens */
@media only screen and (max-width: 724px) {
	:root {
		--small-font:  16px;
		--medium-font: 20px;
		--large-font:  28px;
		--title-font:  60px;
	}
}

/* A little smaller for mobile! */
@media only screen and (max-width: 524px) {
	:root {
		--large-font:  20px;
		--title-font:  40px;
	}
}

@font-face {
	font-family: Perfect-Regular;
	src: url('../Perfect-Regular.ttf');
}

body {
	margin: 0;
	background-color: var(--beige);
	font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Roman", Icons;
}

.centre-items {
	text-align: center;
}

/* ~*~*~*~*~*~* Main *~*~*~*~*~*~ */

div.wrapper {
	max-width: 1000px;
	margin: auto;
	padding-bottom: 20px;
}

header {
	font-size: var(--title-font);
	font-family: Perfect-Regular;
	color: var(--primary-site-color);
	margin-bottom: 10px;
	padding: 5px;
}

main {
	padding: 5px;
}

p {
	font-size: var(--large-font);
}

p > a {
	color: black;
}

p > a:hover {
	color: var(--secondary-site-color);
	transition: var(--hover-transition-time);
}

p > a:active {
	color: var(--secondary-site-color);
	transition: var(--hover-transition-time);
}

li {
	font-size: var(--large-font);
}

li::marker {
	content: '♥︎ ';
	font-size: 24px;
}

figure {
	margin: 20px auto;
	width: 75%;
}

figure img {
	width: 100%;
	border-radius: var(--primary-border-radius);
}

figure figcaption {
	text-align: center;
	font-style: italic;
	font-size: var(--medium-font);
	width: 100%;
}

/* ~*~*~*~*~*~* DLL Projects *~*~*~*~*~*~ */

/* #dll-wrapper section {
	margin-bottom: 20px;
} */

#dll-wrapper .dll-project-divider {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

#dll-wrapper li a {
	color: black;
}

#dll-wrapper li:has(> a:hover)::marker {
	color: lightpink;
	transition: var(--hover-transition-time);
}

#dll-wrapper li a:hover {
	color: lightpink;
	transition: var(--hover-transition-time);
}

#dll-wrapper .dll-project-summary {
	display: flex;

	/* border: 1px solid var(--dark-grey); */
}

#dll-wrapper .dll-project-summary .dll-project-left {
	width: 35%;
	display: flex;
	justify-content: center;
	/* border-right: 1px solid var(--dark-grey); */
	padding: 10px;
}

#dll-wrapper .dll-project-summary .dll-project-left img {
	width: 100%;
}

#dll-wrapper .dll-project-summary .dll-project-right {
	width: 65%;
}

#dll-wrapper .dll-project-summary .dll-project-right h2 {
	font-family: Perfect-Regular;
	color: var(--primary-site-color);
	font-size: 58px;
	margin: 5px 10px;
	/* border-bottom: 1px solid var(--dark-grey); */
}

#dll-wrapper .dll-project-summary .dll-project-right p {
	text-align: justify;
	font-size: var(--medium-font);
	margin: 5px 10px;
}
