<div class="experience-table">
  <!-- *~*~*~*~*~*~*~*~* -->
  <div class="experience-row" id="edu-ma">
    <div class="er-key er-education">✦</div>
    <div class="er-date">2027</div>
    <div class="er-title">
      MA Philosophy
    </div>
    <div class="er-description">
      KU Leuven, Belgium
    </div>
    <div class="er-read-more"></div>
  </div>
  <!-- *~*~*~*~*~*~*~*~* -->
  <div class="experience-row" id="work-sefi">
    <div class="er-key er-work">❋</div>
    <div class="er-date">2025–</div>
    <div class="er-title">
      Communications Assistant, Web Developer
    </div>
    <div class="er-description">
      European Society for Engineering Education (SEFI)
    </div>
    <div class="er-read-more"></div>
  </div>
  <!-- *~*~*~*~*~*~*~*~* -->
  <a href="https://mwhite98.github.io/yummy-meal/" target="_blank">
    <div class="experience-row" id="project-yummy">
      <div class="er-key er-projects">✷</div>
      <div class="er-date">2026</div>
      <div class="er-title">
        yummy meals
      </div>
      <div class="er-description">
        cook with friends. no cooking on mobile!
      </div>
      <div class="er-read-more">→</div>
    </div>
  </a>
  <!-- *~*~*~*~*~*~*~*~* -->
  <a href="https://mwhite98.github.io/website-where-we-pretend-to-be-a-farmers-market/" target="_blank">
    <div class="experience-row" id="project-farmers-market">
      <div class="er-key er-projects">✷</div>
      <div class="er-date">2026</div>
      <div class="er-title">
        Website Where We Pretend to be a Farmer's Market
      </div>
      <div class="er-description">
        Please use designated bike paths.
      </div>
      <div class="er-read-more">→</div>
    </div>
  </a>
  <!-- *~*~*~*~*~*~*~*~* -->
  <a href="https://class.playhtml.fun/showcase" target="_blank">
    <div class="experience-row" id="edu-sfpc-bbftw">
      <div class="er-key er-education">✦</div>
      <div class="er-date">2026</div>
      <div class="er-title">
        Building Benches for the Web
      </div>
      <div class="er-description">
        SFPC, New York (virtual)
      </div>
      <div class="er-read-more">→</div>
    </div>
  </a>
  <!-- *~*~*~*~*~*~*~*~* -->
  <a href="assets/documents/Myla_White_Bachelors_Thesis.pdf" target="_blank">
    <div class="experience-row" id="pub-bathesis">
      <div class="er-key er-publications">✣</div>
      <div class="er-date">2026</div>
      <div class="er-title">
        Spiritual Reasons and Expert Authority
      </div>
      <div class="er-description">
        BA Thesis
      </div>
      <div class="er-read-more">→</div>
    </div>
  </a>
  <!-- *~*~*~*~*~*~*~*~* -->
  <div class="experience-row" id="edu-ba">
    <div class="er-key er-education">✦</div>
    <div class="er-date">2026</div>
    <div class="er-title">
      BA Philosophy
    </div>
    <div class="er-description">
      KU Leuven, Belgium
    </div>
    <div class="er-read-more"></div>
  </div>
  <!-- *~*~*~*~*~*~*~*~* -->
  <div class="experience-row" id="edu-sfpc-si">
    <div class="er-key er-education">✦</div>
    <div class="er-date">2025</div>
    <div class="er-title">
      Solidarity Infrastructures
    </div>
    <div class="er-description">
      SFPC, New York (virtual)
    </div>
    <div class="er-read-more"></div>
  </div>
  <!-- *~*~*~*~*~*~*~*~* -->
  <div class="experience-row" id="work-arista">
    <div class="er-key er-work">❋</div>
    <div class="er-date">2022–2025</div>
    <div class="er-title">
      Software Engineer
    </div>
    <div class="er-description">
      Arista Networks
    </div>
    <div class="er-read-more"></div>
  </div>
  <!-- *~*~*~*~*~*~*~*~* -->
  <a href="https://sfpc.study/sessions/spring-25/advanced-secret-keeping" target="_blank">
    <div class="experience-row" id="edu-sfpc-ask">
      <div class="er-key er-education">✦</div>
      <div class="er-date">2025</div>
      <div class="er-title">
        Advanced Secret Keeping
      </div>
      <div class="er-description">
        SFPC, New York (virtual)
      </div>
      <div class="er-read-more">→</div>
    </div>
  </a>
  <!-- *~*~*~*~*~*~*~*~* -->
  <a href="https://sfpc.study/sessions/fall-24/digital-love-languages" target="_blank">
    <div class="experience-row" id="edu-sfpc-dll">
      <div class="er-key er-education">✦</div>
      <div class="er-date">2024</div>
      <div class="er-title">
        Digital Love Languages
      </div>
      <div class="er-description">
        SFPC, New York (virtual)
      </div>
      <div class="er-read-more">→</div>
    </div>
  </a>
  <!-- *~*~*~*~*~*~*~*~* -->
  <div class="experience-row" id="work-ubyssey">
    <div class="er-key er-work">❋</div>
    <div class="er-date">2020–2021</div>
    <div class="er-title">
      Science Editor
    </div>
    <div class="er-description">
      The Ubyssey Publications Society
    </div>
    <div class="er-read-more"></div>
  </div>
  <!-- *~*~*~*~*~*~*~*~* -->
  <a href="https://ubyssey.ca/research/where-we-draw-the-line/" target="_blank">
    <div class="experience-row" id="pub-wwdtl">
      <div class="er-key er-publications">✣</div>
      <div class="er-date">2021</div>
      <div class="er-title">
        Where We Draw the Line
      </div>
      <div class="er-description">
        BSc capstone, The Ubyssey
      </div>
      <div class="er-read-more">→</div>
    </div>
  </a>
  <!-- *~*~*~*~*~*~*~*~* -->
  <div class="experience-row" id="edu-bsc">
    <div class="er-key er-education">✦</div>
    <div class="er-date">2021</div>
    <div class="er-title">
      BSc Cogntive Systems
    </div>
    <div class="er-description">
      University of British Columbia, Vancouver
    </div>
    <div class="er-read-more"></div>
  </div>
  <!-- *~*~*~*~*~*~*~*~* -->
  <div class="experience-row" id="work-ea">
    <div class="er-key er-work">❋</div>
    <div class="er-date">2020</div>
    <div class="er-title">
      Software Engineer Co-op (Gameplay)
    </div>
    <div class="er-description">
      Electronic Arts – FIFA Mobile
    </div>
    <div class="er-read-more"></div>
  </div>
  <!-- *~*~*~*~*~*~*~*~* -->
  <a href="https://ubyssey.ca/research/311-data-covid-19/" target="_blank">
    <div class="experience-row" id="pub-nnn">
      <div class="er-key er-publications">✣</div>
      <div class="er-date">2020</div>
      <div class="er-title">
        Noisy, nosey and nurturing: An analysis of Vancouver's non-emergency line during COVID-19
      </div>
      <div class="er-description">
        The Ubyssey
      </div>
      <div class="er-read-more">→</div>
    </div>
  </a>
  <!-- *~*~*~*~*~*~*~*~* -->
  <div class="experience-row" id="work-realtor">
    <div class="er-key er-work">❋</div>
    <div class="er-date">2019</div>
    <div class="er-title">
      Software Engineer Co-op (Full-Stack)
    </div>
    <div class="er-description">
      Realtor.com
    </div>
    <div class="er-read-more"></div>
  </div>
  <!-- *~*~*~*~*~*~*~*~* -->
  <div class="experience-row" id="work-ftlotg">
    <div class="er-key er-work">❋</div>
    <div class="er-date">2018</div>
    <div class="er-title">
      Web Developer Co-op
    </div>
    <div class="er-description">
      For the Love of the Game
    </div>
    <div class="er-read-more"></div>
  </div>
  <!-- *~*~*~*~*~*~*~*~* -->
</div>